%center-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flexbox($align: null, $justify: null, $direction: null) {
  display: flex;
  @if ($align != null) {
    align-items: $align;
  }
  @if ($justify != null) {
    justify-content: $justify;
  }
  @if ($direction != null) {
    flex-direction: $direction;
  }
}
