.sidebar {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-color;
  transition: all 0.5s ease-in;
  transform: translateX(100%);
  z-index: 2;
  @include desktop{
    display: none;
  }
  &.sidebar--show {
    transform: translateX(0);
    z-index: 1;
  }
  &__header {
    @include flexbox(center,space-between);
    padding: 1rem 1.5rem;
    color: #fff;
  }
  &__links {
    margin-bottom:2rem;
    a {
      text-transform: capitalize;
      display: block;
      text-align: left;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      color: #808080;
      transition: all 0.3s ease;
      &::before {
        content: attr(data-link);
        position: absolute;
        left: 55%;
        top: 30%;
        font-size: 5rem;
        color: transparent;
        -webkit-text-stroke: 1px $primary-color;
        transform: translate(-30%, -30%) rotate(90deg);
        display: block;
        opacity: 0;
        transition: 0.5s ease;
        transition-property: transform, opacity;
      }
      &:hover {
        padding: 1rem 1.5rem;
        padding-left: 1.5rem;
        color: #fff;
        &::before {
          opacity: 1;
          transform: translate(-50%, -50%) translateY(10px)
            rotate(90deg);
        }
      }
    }
  }
  .close-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    color: red;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0;
    margin: 0.2rem 0 0;
  }
}
